.header {
  position: relative;
  &.open {
    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    // visibility: hidden;
    opacity: 0;
    position: fixed;
    background: linear-gradient(to bottom, $darkBlue, transparent);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  nav {
    position: relative;
    background: $white;
    @include flex(space-between, center, row);
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    z-index: 3;
  }

  &__logo {
    img {
      width: 14rem;
      height: 2.2rem;
    }
  }

  &__menu {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 0.3s ease-in-out;
      transform-origin: 3px 1px;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__overlay-menu {
    z-index: 2;
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    text-align: center;
    margin-top: 2.4rem;
    padding: 2.6rem;
    border-radius: 5px;
    ul {
      padding: 0;
    }
    li {
      padding: 1rem;
    }

    a {
      color: $darkBlue;
    }
  }

  &__wrapper {
    width: 60%;
  }

  &__desktop {
    @include flex(space-between, center, row);
    font-size: $font-sm;

    .button {
      color: $white;
    }
  }

  &__links {
    @include flex(space-between, center, row);

    a {
      position: relative;
      color: $grayishBlue;
      margin-right: 3.2rem;
      transition: color 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -30px;
        height: 5px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
