.hero__wrapper {
  background-color: $veryLightGray;
  position: relative;
  padding-bottom: 6rem;
  z-index: 1;
}

.hero {
  background-color: $veryLightGray;
  @include breakpoint-up(large) {
    display: flex;
    align-items: center;
    max-width: 144rem;
    margin: 0 auto;
  }

  &__image {
    position: relative;
    min-height: 28rem;
    background-image: url(./images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      height: 66.5rem;
      background-image: url(./images/bg-intro-desktop.svg);
      background-position: -10% 97%;
      background-size: 150%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(./images/image-mockups.png);
      background-repeat: no-repeat;
      background-size: 90%;
      background-position: center bottom;

      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        width: 100%;
        height: 120%;
        background-image: url(./images/image-mockups.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 12.5rem 115%;
      }
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
      margin-left: 17rem;
    }

    h1 {
      font-size: 3.7rem;
      line-height: 1.2;
      font-weight: 400;
      color: $darkBlue;
      margin-top: 0;
    }

    p {
      line-height: 1.5;
      font-size: 1.6rem;
      margin-bottom: 3rem;
    }
  }
}
